data/sim_data/aspen/gpu/comms_out.h5 filter=lfs diff=lfs merge=lfs -text
data/sim_data/aspen/gpu/vox_out.h5 filter=lfs diff=lfs merge=lfs -text
python/voxel_grid.json filter=lfs diff=lfs merge=lfs -text
