# Ignore everything by default
*

# Never include the site-packages folder
python/venv_pffdtd/lib/python3.10/site-packages/

# Allow directory traversal
!*/
!python/
!python/**/

# Allow all Python files
!**/*.py

# Keep this file
!.gitignore

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
